.submit-btn {
  margin-top: 40px;
  background-color: #eb7b34;
}
.texto-boton{
  font-size: 8px;
  color :var(--ion-color-dark);
  border-color: var(--ion-color-dark);
}
.boton-crear{
  color: var(--ion-color-dark);
}

