<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title class="texto-titulo">Nueva Empresa</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="this is the image"/>
      </ion-col>
    </ion-row>
    <ion-row no-padding>
      <ion-col size="6" offset="3">
        <ion-button class="texto-boton" fill="outline" expand="block" size="small" (click)="openImagePicker()">Cambiar Foto</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Nombre de la empresa</ion-label>
      <ion-input placeholder="Mascota Actual" type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Descripción</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Dirección</ion-label>
      <ion-input type="text" formControlName="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Teléfono</ion-label>
      <ion-input placeholder=" 123654321" type="number" formControlName="telefono">+34-</ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">CIF</ion-label>
      <ion-input placeholder="Cif" type="datepicker" formControlName="cif"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Horario</ion-label>
      <ion-input placeholder="Lunes-Viernes 08:00 - 18:00" type="datepicker" formControlName="horario"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Campañas</ion-label>
      <ion-input placeholder="Obten 25% de Descuento al llamarnos" type="text" formControlName="campañas"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Codigo Postal</ion-label>
      <ion-input placeholder="42000" type="number" formControlName="codPostal"></ion-input>
    </ion-item>
    <ion-list>
      <ion-radio-group formControlName="especialidad">
        <ion-list-header>
          <ion-label color="ion-color-dark">Especialidad</ion-label>
        </ion-list-header>
        <ion-item>
          <ion-label color="ion-color-dark">Peluquería</ion-label>
          <ion-radio slot="start" value="peluqueria" checked></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label color="ion-color-dark">Veterinaria</ion-label>
          <ion-radio slot="start" value="veterinaria"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label color="ion-color-dark">Adopción</ion-label>
          <ion-radio slot="start" value="adopcion"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label color="ion-color-dark">Adiestramiento</ion-label>
          <ion-radio slot="start" value="adiestramiento"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label color="ion-color-dark">Residencia</ion-label>
          <ion-radio slot="start" value="residencia"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label color="ion-color-dark">Tiendas</ion-label>
          <ion-radio slot="start" value="tienda"></ion-radio>
        </ion-item>
        <ion-item>
          <ion-label color="ion-color-dark">Campañas</ion-label>
          <ion-radio slot="start" value="campañas"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
    <ion-list>
      <ion-radio-group formControlName="especialidades">
        <ion-label>Especialidades</ion-label>
        <ion-select placeholder="Seleccionar Especialidad" multiple="true" cancelText="Cancelar" okText="Aceptar!">
          <ion-select-option value="baño">Baño</ion-select-option>
          <ion-select-option value="bañoyarreglo">Baño y Arreglo</ion-select-option>
          <ion-select-option value="cortes">Cortes de Esposición</ion-select-option>
          <ion-select-option value="stripping">Stripping</ion-select-option>
          <ion-select-option value="desenredado">Desenredado</ion-select-option>
          <ion-select-option value="razasppp">Razas PPP</ion-select-option>
          <ion-select-option value="bañoycorte">Baños y Corte</ion-select-option>
          <ion-select-option value="cortesderaza">Cortes de Raza</ion-select-option>
          <ion-select-option value="autolavado">Autolavado</ion-select-option>
          <ion-select-option value="corteuñas">Corte de Uñas</ion-select-option>
        </ion-select>
        </ion-radio-group>
    </ion-list>
    <ion-item>
      <ion-label position="floating" color="ion-color-dark">Correo Electronico</ion-label>
      <ion-input placeholder="Mascota@gmail.com" type="text" formControlName="email"></ion-input>
    </ion-item>
  <ion-radio-group formControlName="plan">
      <ion-list-header>
        <ion-label>Plan</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Free</ion-label>
        <ion-radio slot="start" value="gratis" checked></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Premium</ion-label>
        <ion-radio slot="start" value="premium"></ion-radio>
      </ion-item>
    </ion-radio-group>
    <div text-center>
      <a href="#">Contactar para Premium</a>
    </div>
    <ion-button class="submit-btn" expand="block" type="submit" [disabled]="!validations_form.valid" class="boton-crear">Crear</ion-button>
  </form>
</ion-content>
