<ion-header>
  <ion-toolbar class="logo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon routerLink="/prelogin" slot="end" size="large"></ion-icon>
    <ion-title>
      <img src="../../../assets/imgs/fondo.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <div text-center>
    <h5>Registro de Empresas</h5>
  </div>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryRegister(validations_form.value)">

    <ion-item>
      <ion-label class="ion-color-dark" position="floating" color="primary">Correo Electronico</ion-label>
      <ion-input placeholder="Mascota@Actual.com" type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-color-dark" position="floating" color="primary">Cif</ion-label>
      <ion-input placeholder="CIF" type="text" formControlName="cif"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-color-dark" position="floating" color="primary">N. Colegiado</ion-label>
      <ion-input placeholder="Numero de Colegiado" type="text" formControlName="colegiado"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label class="ion-color-dark" position="floating" color="primary">Telefono</ion-label>
      <ion-input placeholder=" 123-456-789" type="number" formControlName="telefono">+34-</ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label class="ion-color-dark" position="floating" color="primary">Localidad</ion-label>
      <ion-input placeholder="Localidad" type="text" formControlName="localidad"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ion-color-dark" formControlName="plan">Plan </ion-label>
      <ion-select placeholder="Planes" cancelText="Cancelar" okText="Confirmar">
        <ion-select-option value="free">Free</ion-select-option>
        <ion-select-option  value='premium'>Premium</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label class="ion-color-dark" position="floating" color="primary">Password</ion-label>
      <ion-input placeholder="**********" type="password" formControlName="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label class="ion-color-dark" position="floating" color="primary">Confirmar Contraseña</ion-label>
      <ion-input placeholder="**********" type="password" formControlName="confirmarPassword"></ion-input>
    </ion-item>

    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>


    <div class="inner-wrapper">
      <ion-label class="label label-ios">
        <p class="checkbox proteccion">Antes de registrarte revisa los <a  routerLink="/terminos" >Términos y condiciones</a> y la <a  routerLink="/lqpd">LOPD</a>.</p>
      </ion-label>
    </div>
    <div class="inner-wrapper">
      <ion-label class="label label-ios">
        <ion-checkbox class="check" color="primary"></ion-checkbox>
        <p  class=" proteccion"> Haciendo click aquì acepto los terminos y condicione.</p>

      </ion-label>
    </div>

    <ion-button class="btn-boton" expand="block" type="submit" [disabled]="!validations_form.valid">Registrar</ion-button>
    <label class="error-message">{{errorMessage}}</label>
    <label class="success-message">{{successMessage}}</label>
  </form>
  <p class="go-to-login">Ya tienes una Cuenta? <a (click)="goLoginPage()"> Log In.</a></p>

</ion-content>
<ion-footer>
  <ion-grid>
    <ion-row>
      <ion-col>
        <img src="../../../assets/patrocinadores/ADIESTRADORES.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/ALIMENTACION-MASCOTAS.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/ASOCIACION-VETERINARIOS.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/CLINICA-VETERINARIA.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/FRANQUICIAS-MASCOTAS.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/HOTELES-CON-MASCOTAS.jpg" alt="..." class="img-thumbnail">
      </ion-col>

    </ion-row>
  </ion-grid>
</ion-footer>
