<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/home']">
        <ion-title>Mascotas</ion-title>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content padding>
  <div class="empty-list">
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/home-app']">Home  APP</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/home']">Home CRUD</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/peluquerias-list']">Peluquerías - Sin list</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/list', 'peluqueria']">Peluquerías</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/list', 'veterinaria']">Veterinarias</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/list', 'adopcion']">Adopción</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/list', 'adiestramiento']">Adiestramiento</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/list', 'residencia']">Residencias</ion-button>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button [routerLink]="['/list', 'tienda']">Tiendas</ion-button>
      </ion-col>
    </ion-row>
  </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
