.footer{
  background-color: white;
}

.boton{
  background-color:#eb7b34 ;
  color: #1e2023;
}
.texto-form{
  color: #1e2023;
}
.fondo{
  width: 120px !important;
  height: auto !important;
}

.flecha{
  margin-right: -25px !important;
}