<ion-header>
  <ion-toolbar class="logo">
    <ion-buttons slot="end">
      <ion-back-button class="flecha" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon routerLink="/prelogin" slot="end" size="large"></ion-icon>
    <ion-title >
      <img class="fondo" src="../../../assets/imgs/fondo.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="form-content">
  <div text-center>
    <h5>Inicio de sesión Empresas</h5>
  </div>
  <form class="form" [formGroup]="validations_form" (ngSubmit)="tryLogin(validations_form.value)">
    <ion-item>
      <ion-label position="floating" class="texto-form">Correo Electronico</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.email">
        <div class="error-message" *ngIf="validations_form.get('email').hasError(validation.type) && (validations_form.get('email').dirty || validations_form.get('email').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-item>
      <ion-label position="floating" class="texto-form">Contraseña</ion-label>
      <ion-input type="password" formControlName="password"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.password">
        <div class="error-message" *ngIf="validations_form.get('password').hasError(validation.type) && (validations_form.get('password').dirty || validations_form.get('password').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>
    <ion-button class="boton" expand="block" type="submit" [disabled]="!validations_form.valid">Iniciar Sesión</ion-button>
    <label class="error-message">{{errorMessage}}</label>
  </form>
<div text-center="">
  <p class="go-to-register"> <ion-button size="small"  (click)="goRegisterPage()" color="primary">Registro de Empresa</ion-button> </p>
</div>
</ion-content>
<ion-footer class="footer">

  <div text-center>
    <a href="#" class="text-preguntas">Preguntas frecuentes</a>
  </div>

  <div class="scrollmenu">
    <a href="#home"><img src="../../../assets/patrocinadores/ADIESTRADORES.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#news"><img src="../../../assets/patrocinadores/ALIMENTACION-MASCOTAS.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#contact"><img src="../../../assets/patrocinadores/ASOCIACION-VETERINARIOS.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#about"><img src="../../../assets/patrocinadores/CLINICA-VETERINARIA.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#home"><img src="../../../assets/patrocinadores/FRANQUICIAS-MASCOTAS.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#contact"><img src="../../../assets/patrocinadores/HOTELES-CON-MASCOTAS.jpg" alt="..." class="img-thumbnail"></a>
  </div>
</ion-footer>
