<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Detalle</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <div>
    <ion-row>
      <ion-col size="6" offset="3">
        <img [src]="image" alt="this is the image"/>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="6" offset="3">
        <ion-button fill="outline" expand="block" size="small" (click)="openImagePicker()">Cambiar imagen</ion-button>
      </ion-col>
    </ion-row>
  </div>
  <form [formGroup]="validations_form" (ngSubmit)="onSubmit(validations_form.value)">
    <ion-item>
      <ion-label position="floating" color="primary">Title</ion-label>
      <ion-input type="text" formControlName="title"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Description</ion-label>
      <ion-input type="text" formControlName="description"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Dirección</ion-label>
      <ion-input type="text" formControlName="direccion"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Teléfono</ion-label>
      <ion-input type="text" formControlName="telefono"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">DNI / CIF</ion-label>
      <ion-input type="text" formControlName="cif"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Código Postal</ion-label>
      <ion-input type="text" formControlName="codPostal"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Evento</ion-label>
      <ion-input type="text" formControlName="evento"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Especialidad</ion-label>
        <ion-input type="text" formControlName="especialidad" [readonly]="true"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Email</ion-label>
      <ion-input type="text" formControlName="email"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating" color="primary">Plan</ion-label>
      <ion-input type="text" formControlName="plan"></ion-input>
    </ion-item>
  </form>

</ion-content>
