.error-message
{
 color: var(--ion-color-danger);
}

.go-to-register
{
  text-align: center;
  margin-top: 20px;
  font-size: smaller;
}

.submit-btn
{
  margin-top: 40px;
  background-color: #eb7b34;
  color: #1e2023;
}
.botonContacto{
  margin-bottom: 15px;
}
.footer{
  background-color: white;
}
.texto{
  font-size: 10px;
}
.fondo{
  width: 120px !important;
  height: auto !important;
  margin: auto auto;
}

.flecha{
  margin-right: -25px !important;
}
.text-preguntas{
  font-size: small;
}
