
<ion-header class="header-principal">
  <ion-toolbar class="logo">
    <ion-buttons slot="end">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon routerLink="/prelogin" slot="end" size="large"></ion-icon>
    <ion-title>
      <img src="../../../assets/imgs/fondo.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content padding>
  <ion-text text-center="">
    <h6 class="texto" text-center>Registrate</h6>
  </ion-text>

  <button class="center"> <img src="../../../assets/imgs/icono-registro-cliente.png" alt="" routerLink="/register"> </button>

  <button class=center-1> <img src="../../../assets/imgs/icono-registro-empresa.png" alt="" routerLink="/regisempresa"> </button>

  <div text-center class="boton-pre">
    <ion-button size="small" routerLink="/home">Regresar</ion-button>
  </div>


  <ion-button class="what" ion-button float-right size="small" href="https://wa.me/644790417">
    <ion-icon name="logo-whatsapp" id="whatsapp" padding></ion-icon>
  </ion-button>

</ion-content>





