<ion-header>
  <ion-toolbar class="logo">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home-app"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon routerLink="/login" slot="end" size="large" name="contact"></ion-icon>
    <ion-title>
      <img src="../../../assets/imgs/fondo.png" alt="">
      <h3 text-center>Empresas</h3>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <!-- Slide -->
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let item of items" [routerLink]="['/details-users', item.payload.doc.id]">
      <!--div *ngIf="item.payload.doc.data().especialidad"-->
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{item.payload.doc.data().title}}
          </ion-card-title>
          <ion-card-content>
            <img [src]="item.payload.doc.data().image" alt="...">
            <ion-button fill="clear" slot="end" class="texto-card">Detalles</ion-button>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
      <!--/div-->
    </ion-slide>
  </ion-slides>
  <div *ngIf="items.length == 0" class="empty-list">
    Por favor cree el primer ítem.
  </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-grid class="patrocinadores">
    <ion-row>
      <ion-col>
        <img src="../../../assets/patrocinadores/ADIESTRADORES.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/ALIMENTACION-MASCOTAS.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/ASOCIACION-VETERINARIOS.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/CLINICA-VETERINARIA.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/FRANQUICIAS-MASCOTAS.jpg" alt="..." class="img-thumbnail">
      </ion-col>
      <ion-col>
        <img src="../../../assets/patrocinadores/HOTELES-CON-MASCOTAS.jpg" alt="..." class="img-thumbnail">
      </ion-col>

    </ion-row>
  </ion-grid>
  <ion-toolbar color="primary">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
