<ion-header>
  <ion-toolbar class="logo">
    <ion-buttons slot="end">
      <ion-back-button class="flecha" defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-icon routerLink="/prelogin" slot="end" size="large"></ion-icon>
    <ion-title>
      <img class="fondo" src="../../../assets/imgs/fondo.png" alt="">
    </ion-title>
  </ion-toolbar>
</ion-header>



<ion-content *ngIf="items" class="list-mini-content" padding>

  <div class="espacios">
    <div id="map" ></div>
  </div>
  <br>
  <br>
  <label>Buscar Por Ciudad: <input type="text" [(ngModel)]="searchText" placeholder="Madrid" /></label>
  <br>
  <ion-grid>
    <ion-row>
      <ion-col size="6">
        <!--Especialidad-->
        <ion-list>
            <ion-radio-group [(ngModel)]="searchEspecialidades" formControlName="especialidades">
              <ion-label>Especialidades</ion-label>
              <ion-select placeholder="Seleccionar Especialidad" multiple="true" cancelText="Cancelar" okText="Aceptar!">
                <ion-select-option value="baño">Baño</ion-select-option>
                <ion-select-option value="bañoyarreglo">Baño y Arreglo</ion-select-option>
                <ion-select-option value="cortes">Cortes de Esposición</ion-select-option>
                <ion-select-option value="stripping">Stripping</ion-select-option>
                <ion-select-option value="desenredado">Desenredado</ion-select-option>
                <ion-select-option value="razasppp">Razas PPP</ion-select-option>
                <ion-select-option value="bañoycorte">Baños y Corte</ion-select-option>
                <ion-select-option value="cortesderaza">Cortes de Raza</ion-select-option>
                <ion-select-option value="autolavado">Autolavado</ion-select-option>
                <ion-select-option value="corteuñas">Corte de Uñas</ion-select-option>
              </ion-select>
              </ion-radio-group>
          </ion-list>

      </ion-col>
      <ion-col size="6">
        <!--TIpo de Mascota-->
        <ion-item>
          <ion-radio-group [(ngModel)]="searchAnimales" formControlName="animales">
              <ion-label>Tipo de Mascotas</ion-label>
              <ion-select placeholder="Animales" multiple="true" cancelText="Cancelar" okText="Aceptar!">
                  <ion-select-option value="perros">Perros</ion-select-option>
                  <ion-select-option value='gatos' >Gatos</ion-select-option>
                  <ion-select-option value='aves' >Aves</ion-select-option>
                  <ion-select-option  value='hurones'>Hurones</ion-select-option>
                  <ion-select-option  value='peces'>Peces</ion-select-option>
                  <ion-select-option  value='caballos'>Caballos</ion-select-option>
                  <ion-select-option  value='Exoticos'>Exoticos</ion-select-option>
              </ion-select>
              </ion-radio-group>
      </ion-item>
      </ion-col>
    </ion-row>
  </ion-grid>
  <div text-center class="barra">
    <h5 class="texto-h5">Empresas Seleccionadas</h5>
  </div>
  <div class="espacios">
    <div class="scrollmenu">
      <!-- Slide -->
      <ion-slides [options]="sliderConfig">
        <div *ngFor="let item of items" ng-repeat="item in items| filter: busqueda" [routerLink]="['/details-users', item.payload.doc.id]">
          <div *ngIf="item.payload.doc.data().direccion && item.payload.doc.data().direccion.length || item.payload.doc.data().especialidades && item.payload.doc.data().especialidades.length || item.payload.doc.data().animales && item.payload.doc.data().animales.length">
            <div *ngIf="item.payload.doc.data().direccion.includes(searchText) || item.payload.doc.data().especialidades.includes(searchEspecialidades) || item.payload.doc.data().especialidades.includes(searchAnimales)">
            <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-card class="card" >
                  <ion-card-header>
                    <ion-card-title class="cardtitulo">
                      {{item.payload.doc.data().title}}
                    </ion-card-title>
                    <ion-card-content>
                      <img class="img-card" [src]="item.payload.doc.data().image" alt="...">
                      <ion-button fill="clear" slot="end" class="texto-card">Detalles</ion-button>
                    </ion-card-content>
                  </ion-card-header>
                </ion-card>
              </ion-col>
            </ion-row>
          </ion-grid>
            </ion-slide>
            </div>
            </div>
          <!--/div-->
        </div>
      </ion-slides>
    </div>
    <br>

  </div>
  <div class="barra-solidarias" text-center>
    <h5 class="texto-h5">Empresas Solidarias</h5>
  </div>
  <div class="espacios">

  </div>

</ion-content>
<ion-footer  class="footer">
  <div text-center>
    <p class="text-patro">Conoce a nuestros Patrocinadores</p>
  </div>

  <div class="scrollmenu">
    <a href="#home"><img src="../../../assets/patrocinadores/ADIESTRADORES.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#news"><img src="../../../assets/patrocinadores/ALIMENTACION-MASCOTAS.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#contact"><img src="../../../assets/patrocinadores/ASOCIACION-VETERINARIOS.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#about"><img src="../../../assets/patrocinadores/CLINICA-VETERINARIA.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#home"><img src="../../../assets/patrocinadores/FRANQUICIAS-MASCOTAS.jpg" alt="..." class="img-thumbnail"></a>
    <a href="#contact"><img src="../../../assets/patrocinadores/HOTELES-CON-MASCOTAS.jpg" alt="..." class="img-thumbnail"></a>
  </div>
</ion-footer>
