<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/new-empresa']">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title size="small">Empresas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="items" class="list-mini-content" padding>
  <!-- Slide -->
  <ion-slides [options]="sliderConfig">
    <ion-slide *ngFor="let item of items" [routerLink]="['/details', item.payload.doc.id]">
      <!--div *ngIf="item.payload.doc.data().especialidad"-->
      <ion-card>
        <ion-card-header>
          <ion-card-title>
            {{item.payload.doc.data().title}}
          </ion-card-title>
          <ion-card-content>
            <img [src]="item.payload.doc.data().image" alt="...">
            <ion-button fill="clear" slot="end">Detalle</ion-button>
          </ion-card-content>
        </ion-card-header>
      </ion-card>
      <!--/div-->
    </ion-slide>
  </ion-slides>
  <div *ngIf="items.length == 0" class="empty-list">
    Por favor cree el primer ítem.
  </div>
</ion-content>
<ion-footer (click)="logout()">
  <ion-toolbar color="medium">
    <ion-title>Log out</ion-title>
  </ion-toolbar>
</ion-footer>
