<ion-header>
  <ion-toolbar>
      <ion-back-button defaultHref="home-app"></ion-back-button>

        <img src="../../../assets/imgs/fondo.png" alt="">
      </ion-toolbar>
  </ion-header>

<ion-content padding>

<button class="center"> <img src="../../../assets/imgs/icono-registro-cliente.png" alt="" routerLink="/login"> </button>

<button class=center-1> <img src="../../../assets/imgs/icono-registro-empresa.png" alt="" routerLink="/loginempresa"> </button>

<div text-center class="boton-pre">
  <ion-button size="small" routerLink="/home">Regresar</ion-button>
</div>


<ion-button class="what" ion-button float-right size="small" href="https://wa.me/644790417">
  <ion-icon name="logo-whatsapp" id="whatsapp" padding></ion-icon>
</ion-button>

</ion-content>


